namespace Engine.Secrets
{
    internal static class ApiKeys
    {
        // Twitter API keys
        public static string TwitterConsumerKey = "";
        public static string TwitterConsumerSecret = "";
        public static string TwitterOAuthToken = "";
        public static string TwitterAccesstoken = "";

        // StackOverflow API keys
        public static string StackOverflowAccessToken = "";
    }
}
