namespace Engine.Secrets
{
    internal static class ApiKeys
    {
        // Google+ API keys
        public static string GooglePlusApplicationName = "";
        public static string GooglePlusApiKey = "";

        // Twitter API keys
        public static string TwitterConsumerKey = "";
        public static string TwitterConsumerSecret = "";
        public static string TwitterOAuthToken = "";
        public static string TwitterAccesstoken = "";
    }
}
